# Testing dependencies
pytest==8.3.3        # for unit testing
behave==1.2.6        # for behavior-driven development

# static code analysis framework
pre-commit==4.0.1        # for managing and maintaining multi-language pre-commit hooks

# REST API framework
Flask==3.0.1            # for building REST APIs
flask-cors==4.0.0       # for cross-origin resource sharing (required when frontend and backend are on different domains)

# UI testing via Selenium
selenium==4.27.1            # for writing tests for the UI
webdriver-manager==4.0.2    # for managing the browser drivers

# packaging
setuptools==69.2.0          # for building and distributing Python packages
wheel==0.42.0               # for packaging Python packages
